shamefully-hoist=true
strict-peer-dependencies=false
registry=http://localhost:4873/
//localhost:4873/:_authToken=ODdiMDFjODExYTdmZjc4MDVjN2U3ZGVmYjgzNDI2MTQ6OTQ5Y2UwYTUzZTk5OWY2MDViOGEwZWVjODFjZTc2
@cfy:registry=http://localhost:4873/
